{% extends "import.html" %}

{% block head %}
  <script src="/static/devices.js"></script>
{% endblock %}

{% block body %}
<h1>Bibigo 좌석 설정표</h1>


<div class="ui right container">
  <p>총 좌석 수 : <span id="total_seat"></span></p>
  <button class="ui primary button" onclick="$device.isUpdate=false; $('#add_seat_modal').modal('show');">좌석추가</button>
</div>

<table class="ui celled table" style="text-align:center;">
  <thead>
    <tr>
      <th>단말 ID</th>
      <th>좌석</th>
      <th>수정</th>

  </tr></thead>
  <tbody id="table-body">
  </tbody>

</table>

{% endblock %}

{% block modal %}
  <div class="ui modal" id="add_seat_modal">
    <i class="close icon"></i>
    <div class="header">
      좌석 추가
    </div>
    <div class="content">
      <div class="ui labeled input">
        <div class="ui label">단말 ID</div>
        <input id="input-mac-address" type="text" placeholder="">
      </div>
      <div class="ui labeled input">
        <div class="ui label">좌석번호</div>
        <input id="input-seat-number" type="text" placeholder="">
      </div>

    </div>
    <div class="actions">
      <div class="ui black deny button">취소</div>
      <div class="ui positive right labeled icon button">추가<i class="checkmark icon"></i></div>
    </div>
  </div>
{% endblock %}