{% extends "import.html" %}

{% block head %}
  <script src="/static/dashboard.js"></script>
{% endblock %}

{% block body %}
<h1>Bibigo 주문 대기판</h1>


<div class="ui right container">
  <p>총 요청 수 : <span id="total_request"></span></p>
</div>
<button class="ui primary button" onclick="location.href='devices'">기기등록</button>

<table class="ui celled table" style="text-align:center;">
  <thead>
    <tr>
      <th>좌석</th>
      <th>요청사항</th>
      <th>요청상세</th>
      <th>대기시간</th>
      <th>상태</th>
      <th>확인</th>

  </tr></thead>
  <tbody id="request-table-body">
  </tbody>

</table>

{% endblock %}