body {
  display: flex;
  flex-direction: column;
}

.ui.fixed.menu {
  background-color: #f5f5f5;
}

.ui.container.grid h1.ui.header {
  margin-top: 2em;
  font-size: 36px;
}
.ui.container.grid p.lead {
  font-size: 21px;
  line-height: 1.5;
}

.ui.footer.segment {
  display:none;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: #f5f5f5;
}
.four.wide.column.cjmenu {
  display:table;
  border-width:1px;
  border-style:solid;
  border-color:white;
  border-radius:50%;
  text-align:center;
}
.cjmenu.title {
  display:table-cell;
  vertical-align:middle;
}
.ui.grid.cjmenu {
  margin-top:20px;
  margin-bottom:20px;
  font-size:1.4em
}
.item.cjmenulist.cjmenu {

  width:200px;
}

.ui.card {
  height:250px;
}
.ui.card .meta>a {
  white-space:normal;
}

.ui.card>.image {
  height:140px;
}
.ui.card .meta {
  min-height:50px;
}
