﻿@charset "utf-8"; 

@font-face {
  font-family: 'CJ ONLYONE NEW body Light';
  font-style: normal;
  font-weight: 300;
  src: local('CJ ONLYONE NEW body Light'), local('CJ ONLYONE NEW body-Light'), local('CJ ONLYONE NEW body Light');
  src: url(font/CJ_ONLYONE_NEW_body_Light.eot);
  src: url(font/CJ_ONLYONE_NEW_body_Light.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_body_Light.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_body_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW body Regular';
  font-style: normal;
  font-weight: 400;
  src: local('CJ ONLYONE NEW body Regular'), local('CJ ONLYONE NEW body-Regular'), local('CJ ONLYONE NEW body Regular');
  src: url(font/CJ_ONLYONE_NEW_body_Regular.eot);
  src: url(font/CJ_ONLYONE_NEW_body_Regular.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_body_Regular.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_body_Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW title Medium';
  font-style: normal;
  font-weight: 500;
  src: local('CJ ONLYONE NEW title Medium'), local('CJ ONLYONE NEW title-Medium'), local('CJ ONLYONE NEW title Medium');
  src: url(font/CJ_ONLYONE_NEW_title_Medium.eot);
  src: url(font/CJ_ONLYONE_NEW_title_Medium.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_title_Medium.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_title_Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW title Bold';
  font-style: normal;
  font-weight: 700;
  src: local('CJ ONLYONE NEW title Bold'), local('CJ ONLYONE NEW title-Bold'), local('CJ ONLYONE NEW title Bold');
  src: url(font/CJ_ONLYONE_NEW_title_Bold.eot);
  src: url(font/CJ_ONLYONE_NEW_title_Bold.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_title_Bold.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_title_Bold.ttf) format('truetype');
}

/* Reset */
html, body {height:100%;-webkit-text-size-adjust:none;font-family:'CJ ONLYONE NEW body Regular','돋음',dotum,sans-serif;font-size:16px;color:#000;font-style:normal;background:#f8f7f2}
html, body, div, span, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {margin:0;padding:0;}
ol, ul, li {list-style:none;}
em, i {font-style:normal}
img {vertical-align:top}
img, fieldset {border:0 none;}
button {border:0 none;background:transparent;cursor:pointer}
hr {display:none;}
legend, .skip, .blind, .skip_nav {width:0;height:0;visibility:hidden;font-size:0;line-height:0;position:absolute;top:0;left:-9999em;overflow:hidden;}
table caption {display:none}
table {border-collapse:collapse;border-spacing:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
a:link, a:visited {text-decoration:none;color:#000}
a:hover, a:active {text-decoration:none}
input, textarea {-webkit-appearance:none;-webkit-border-radius:0;}
input[type="checkbox"] {-webkit-appearance:checkbox;vertical-align:middle}
input[type="radio"] {-webkit-appearance:radio;-webkit-border-radius:50px;width:13px;height:13px;margin:0 0 3px;padding:0;vertical-align:middle}
input[type="text"], input[type="password"], input[type="search"] {height:24px;line-height:24px;border:1px solid #d8d8d8;color:#333;font-size:16px}
textarea {border:1px solid #b2b2b2;overflow:scroll;overflow-x:hidden;color:#333;font-size:16px}
select {height:26px;border:1px solid #ddd;padding:0 20px 0 8px;vertical-align:middle}
strong, h1, h2, h3, h4, h5, h6 {font-weight:normal}

/* layout */
#wrap {position:relative;zoom:1}
#wrap:after{display:block;clear:both;content:''}
#header {position:relative;}
#content {position:relative}


#header h1 {padding:18px 30px 0}
#header h1 .btn_nav {display:inline-block;width:30px;height:24px;background:url('../images/btn_nav.png') no-repeat}
#header h1 .btn_nav span {display:none}
#header h1 .title {display:inline-block;padding-left:10px;font-size:30px;color:3a2c1f;vertical-align:top}
#header h1 .btn_push {position:absolute;top:15px;right:15px;width:60px;height:60px;background:url('../images/btn_push.png') no-repeat center center}
#header h1 .btn_push span {display:none}
#header h1 .btn_push em {position:absolute;top:6px;right:2px;height:24px;line-height:24px;min-width:12px;padding:0 6px;background:#c2272d;border-radius:24px;color:#fff;font-size:12px;text-align:center}
#header .nav {position:fixed;top:0;left:-100%;bottom:0;width:360px;overflow-x:hidden;overflow-y:auto;background:#222;z-index:60}
#header .nav .nav_top {margin:24px 0 0 24px;}
#header .nav .nav_top .btn_nav_close {display:inline-block;width:34px;height:34px;background:url('../images/btn_nav_close.png') no-repeat center center;vertical-align:middle}
#header .nav .nav_top .btn_nav_close span {display:none}
#header .nav .nav_top strong {display:inline-block;vertical-align:middle;margin:-2px 0 0 20px}
#header .nav .nav_menu {margin:28px 0 0 24px}
#header .nav .nav_menu li {padding:24px 0 24px 24px}
#header .nav .nav_menu li a {color:#fff;font-size:32px}
#header .nav .language {position:absolute;bottom:0;left:0;width:100%;height:99px;text-align:center;border-top:1px solid #17130f;}
#header .nav .language ul {margin:34px 0 0 34px;zoom:1}
#header .nav .language ul:after{display:block;clear:both;content:''}
#header .nav .language li {float:left;background:url('../images/language_line.png') no-repeat left center}
#header .nav .language li:first-child {background:none}
#header .nav .language li a {display:inline-block;color:#999;padding:0 20px;font-size:20px}
#header .nav .language li.on a {color:#f8f7f2;font-family:'CJ ONLYONE NEW title Medium'}

.intro {position:fixed;top:0;bottom:0;left:0;right:0;width:100%;height:100%;background:#fff;z-index:100}
.intro_logo {position:relative;top:30%;text-align:center}
.intro_footer {position:absolute;bottom:5%;width:100%;text-align:center}
.intro_footer p {font-size:12px;color:#666;padding-top:10px;font-family:'CJ ONLYONE NEW body Light'}

.item_list {height:288px;margin:30px;overflow-y:hidden;overflow-x:auto;}
.item_list ul {zoom:1}
.item_list ul:after {display:block;clear:both;content:''}
.item_list li {position:relative;float:left}
.item_list li div {padding-left:16px}
.item_list li:first-child div {padding-left:0}
.item_list li input {position:absolute;top:50%;left:50%;visibility:hidden}
.item_list li label {display:block;width:198px;height:258px;border:1px solid #edeadf;background:#fff;text-align:center}
.item_list li label img {margin-top:45px}
.item_list li label .check {display:none;position:absolute;top:60px;left:50%;width:100px;height:70px;margin-left:-40px;background:#fff url('../images/item_check.png') no-repeat center center}
.item_list li label strong {display:block;text-align:center;color:#3a2c1f;font-size:20px;padding-top:12px}
.item_list li label span {display:block;text-align:center;padding-top:2px;color:#bab2a4;font-size:15px;font-family:'CJ ONLYONE NEW body Light'}
.item_list li input:checked + label {width:192px;height:252px;border:4px solid #c2272d;color:#bab2a4;box-shadow:0 5px 10px rgba(0, 0, 0, 0.2)}
.item_list li input:checked + label img {margin-top:59px}
.item_list li input:checked + label .check {display:block}
.item_list li input:checked + label strong {padding-top:8px}

.saladbar_list {margin:30px}
.saladbar_list>ul>li {position:relative}
.saladbar_list .category {padding:29px 0;border-bottom:1px solid #d8cec6}
.saladbar_list .category .btn_openclose {position:absolute;top:0;right:0;display:inline-block;width:74px;height:86px;background:url('../images/btn_openclose.png') no-repeat center center}
.saladbar_list .category .btn_openclose span {display:none}
.saladbar_list .category .btn_openclose.off {background:url('../images/btn_openclose_off.png') no-repeat center center}
.saladbar_list input {position:absolute;top:50%;left:50%;visibility:hidden}
.saladbar_list .category label {padding:20px 0 20px 35px;color:#3a2c1f;font-size:20px;background:url('../images/ico_favorite.png') no-repeat left center}
.saladbar_list label {padding:20px 0 20px 35px;color:#3a2c1f;font-size:16px;background:url('../images/ico_favorite.png') no-repeat left center}
.saladbar_list input:checked + label {background:url('../images/ico_favorite_on.png') no-repeat left center}
.saladbar_list .list_sub {padding-bottom:60px;border-bottom:1px solid #d8cec6;zoom:1}
.saladbar_list .list_sub:after {display:block;clear:both;content:''}
.saladbar_list .list_sub li {float:left;width:33.3%;text-align:center}
.saladbar_list .list_sub li .condition {height:150px;margin-bottom:20px}
.saladbar_list .list_sub li .condition.full {background:url('../images/condition_full.png') no-repeat center bottom}
.saladbar_list .list_sub li .condition.half {background:url('../images/condition_half.png') no-repeat center bottom}
.saladbar_list .list_sub li .condition.empty {background:url('../images/condition_empty.png') no-repeat center bottom}
.saladbar_list .list_sub li .condition span {display:block;text-align:center;color:#beb0a3;font-size:20px;font-family:'CJ ONLYONE NEW title Medium'}
.saladbar_list .list_sub li .condition.full span {position:relative;top:38px}
.saladbar_list .list_sub li .condition.half span {position:relative;top:68px}
.saladbar_list .list_sub li .condition.empty span {position:relative;top:88px}

.btn_top {display:none}
.btn_top a {position:fixed;bottom:30px;right:22px;display:inline-block;width:80px;height:80px;background:url('../images/btn_top.png') no-repeat center center}
.btn_top a span {display:none}

.popup_dim {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);z-index:55}

.btn_request_area {position:fixed;bottom:0;left:0;width:100%;height:100px;zoom:1}
.btn_request_area:after {display:block;clear:both;content:''}
.btn_request_area .btn_request {float:left;display:inline-block;width:70%;height:100px;line-height:100px;background:#534334;text-align:center;color:#9f8874;font-size:24px}
.btn_request_area .btn_request span {padding-left:44px;background:url('../images/btn_request.png') no-repeat left center}
.btn_request_area .btn_request span em {display:none}
.btn_request_area .btn_request.on {background:#c2272d;color:#fff}
.btn_request_area .btn_request.on span {background:url('../images/btn_request_on.png') no-repeat left center}
.btn_request_area .btn_inquiry {float:left;display:inline-block;width:30%;height:100px;line-height:100px;background:#b19c8a;text-align:center;color:#e5dad2;font-size:24px}

.popup_confirm {display:none;position:absolute;top:50%;left:50%;margin:-150px 0 0 -240px;width:480px;height:300px;background:#fff;z-index:60}
.popup_confirm .popup_in {margin-top:70px;text-align:center}
.popup_confirm .popup_in strong {display:block;color:#3a2c1f;font-size:24px;margin:0 50px}
.popup_confirm .popup_in p {padding-top:15px;color:#3a2c1f;font-size:24px;font-family:'CJ ONLYONE NEW body Light'}
.popup_confirm .popup_btn_area {position:absolute;bottom:0;left:0;width:100%;height:79px;line-height:79px;border-top:1px solid #ddd;background:#f8f7f2;zoom:1}
.popup_confirm .popup_btn_area:after {display:block;clear:both;content:''}
.popup_confirm .popup_btn_area a.btn_deny {float:left;width:50%;display:inline-block;text-align:center;font-size:20px;color:#666}
.popup_confirm .popup_btn_area a.btn_allow {float:left;width:50%;display:inline-block;text-align:center;font-size:20px;color:#c2272d;border-left:1px solid #ddd;margin-left:-1px}
.popup_confirm.popup_favorite .popup_in {margin-top:50px}
.popup_confirm.popup_favorite .popup_in strong {color:#3a2c1f;font-size:28px;font-family:'CJ ONLYONE NEW title Medium'}
.popup_confirm.popup_favorite .popup_in p {padding-top:20px;color:#3a2c1f;font-size:24px;font-family:'CJ ONLYONE NEW body Regular'}
.popup_confirm.popup_favorite .popup_btn_area a.btn_confirm {width:100%;display:inline-block;text-align:center;font-size:20px;color:#666}

.popup_message {display:none;position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:#fff;z-index:65}
.popup_message .loading {position:fixed;top:0;bottom:0;left:0;right:0;width:100%;height:100%;background:#fff;text-align:center;z-index:65}
.popup_message .loading img {position:relative;top:45%}
.popup_message .btn_popup_close {position:absolute;top:22px;right:30px;width:40px;height:40px;background:url('../images/btn_popup_close.png') no-repeat center center;z-index:70}
.popup_message .btn_popup_close span {display:none}
.popup_message .popup_in {margin-top:14%;padding-top:80px;text-align:center}
.popup_message .popup_in strong {display:block;color:#3a2c1f;font-size:40px;margin:0 50px}
.popup_message .popup_in p {padding-top:28px;color:#3a2c1f;font-size:24px}
.popup_message .popup_in span {display:block;line-height:1.7;padding-top:10px;color:#796655;font-size:18px;font-family:'CJ ONLYONE NEW body Light'}
.popup_message .popup_in span em {font-family:'CJ ONLYONE NEW body Regular'}
.popup_message.popup_inquiry .popup_in span {padding-top:20px}
.popup_message.popup_push .popup_in p {font-family:'CJ ONLYONE NEW body Light'}

.popup_message.message_complete .popup_in {background:url('../images/message_complete.png') no-repeat center top}
.popup_message.message_ing .popup_in {background:url('../images/message_ing.png') no-repeat center top}

.bxslider {position:relative;zoom:1}
.bx-wrapper .bx-has-pager {position:absolute;bottom:34px;left:50%;width:116px;height:22px;margin-left:-65px;display:inline-block;text-align:center;z-index:60;zoom:1}
.bx-wrapper .bx-has-pager:after{display:block;clear:both;content:''}
.bx-wrapper .bx-has-pager .bx-pager {display:inline-block}
.bx-wrapper .bx-has-pager .bx-pager-item {display:inline-block}
.bx-wrapper .bx-has-pager .bx-pager-item a {display:block;width:24px;height:24px;background:url('../images/bx_pager.png') no-repeat center 4px;text-indent:-9999em;overflow:hidden}
.bx-wrapper .bx-has-pager .bx-pager-item a.active {background:url('../images/bx_pager.png') no-repeat center -46px}





