<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Smart Caller Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/static/js/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/static/js/font-awesome/css/font-awesome.min.css">
	<script src="/static/js/jquery-1.12.4.min.js"></script>
	<script src="/static/js/semantic/semantic.min.js"></script>
	<script src="/static/js/common.js"></script>
	{% block head %} {% endblock %}
	
</head>
<body>

	<div class="ui container" style="margin-top:20px;">
		{% block body %} {% endblock %}
	</div>

	<div class="ui modal" id="alert_modal">
		<div class="header" id="alert_modal_title"></div>
		<div class="content" >
			<p id="alert_modal_body"></p>
		</div>
		<div class="actions">
			<div class="ui positive button" id="alert_modal_accept_btn">생성</div>
			<div class="ui deny button" id="alert_modal_deny_btn">취소</div>
		</div>
	</div>
	<!-- Modal Area -->
	{% block modal %}{% endblock %}
</body>
</html>