<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Katis</title>
	<link rel="stylesheet" type="text/css" href="/static/js/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/static/js/font-awesome/css/font-awesome.min.css">
	<script src="/static/js/jquery-1.12.4.min.js"></script>
	<script src="/static/js/semantic/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/style.css">
	<script src="/static/js/common.js"></script>
	{% block head %} {% endblock %}
	
</head>
<body>
	
	<div class="ui gray inverted top sidebar horizontal menu">
		<a class="item" href="/dashboard" onclick="func.toggleSidebar()">대시보드</a>
    	<a class="item" href="/account" onclick="func.toggleSidebar()">트레이드</a>
		<a class="item" href="/report" onclick="func.toggleSidebar()">리포트</a>
		<a class="item" href="/backtest" onclick="func.toggleSidebar()">백테스트</a>
		<!--<a class="item" href="/detector" onclick="func.toggleSidebar()">패턴탐지</a>-->
		<a class="item" href="/api" onclick="func.toggleSidebar()">인터페이스</a>
		<a class="item" href="/settings" onclick="func.toggleSidebar()">설정</a>
		<a class="item" href="/settings/about" onclick="func.toggleSidebar()">About</a>
		<div class="right menu">
			<a class="item" onclick="func.confirmLogout()">Logout</a>
		</div>


	</div>

	<div class="ui dimmer" id="loading_dimmer">
			<div class="ui text loader">Loading...</div>
	</div>
  	<div class="pusher">
    <!-- Site content !-->
    	<div class="ui fixed pointing menu">
			<div class="item header">Katis</div>
			<!--<div class="item">{{menu_name}}</div>-->
			<a class="item" href="/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;대시보드</a>
			<a class="item" href="/account"><i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;트레이드</a>
			<a class="item" href="/report"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp;리포트</a>
			<a class="item" href="/backtest"><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;백테스트</a>
			<!--<a class="item" href="/detector">패턴탐지</a>-->
			<a class="item" href="/api"><i class="fa fa-arrows-alt" aria-hidden="true"></i>&nbsp;인터페이스</a>
			<a class="item" href="/settings"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;설정</a>
			<a class="item" href="/settings/about" onclick="func.toggleSidebar()"><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;About</a>

			<div class="right menu">
				<!--<a class="item activate" onclick="func.toggleSidebar()"><i class="fa fa-bars bb-menu-icon" aria-hidden="true"></i></a>-->
				<a class="item" onclick="func.confirmLogout()">Logout</a>
				<div class="item" id="market_status"></div>
			</div>
		</div>
		<div class="ui container" style="margin-top:65px;">
  				{% block body %} {% endblock %}
		</div>


		<!-- Logout Modal -->
		<div class="ui basic modal" id="logout_modal">
			<div class="header">Logout</div>
			<div class="image content">
				<!--
				<div class="image">
					<i class="archive icon"></i>
				</div>
				-->
				<div class="description">
					<i class="fa fa-times-circle-o fa-2x" aria-hidden="true">정말로 로그아웃 하시겠습니까?</i>

				</div>
			</div>
			<div class="actions">
				<div class="two fluid ui inverted buttons">
					<div class="ui cancel red basic inverted button" onclick="func.toggleLogoutConfirmModal();">
						<i class="remove icon"></i>아니오
					</div>
					<div class="ui ok green basic inverted button" onclick="location.href='/logout'">
						<i class="checkmark icon"></i>예
					</div>
				</div>
			</div>
		</div>

		<div class="ui modal" id="alert_modal">
			<div class="header" id="alert_modal_title"></div>
			<div class="content" >
				<p id="alert_modal_body"></p>
			</div>
			<div class="actions">
				<div class="ui positive button" id="alert_modal_accept_btn">생성</div>
				<div class="ui deny button" id="alert_modal_deny_btn">취소</div>
			</div>
		</div>
		<!-- Modal Area -->
		{% block modal %}{% endblock %}

  	</div>
</body>
</html>