<!DOCTYPE html>
<html>
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<script src="/static/js/jquery-1.12.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/semantic/semantic.min.css">
	<script src="/static/js/semantic/semantic.min.js"></script>



	<style type="text/css">
	  body {
	    background-color: #DADADA;
	  }
	  body > .grid {
	    height: 100%;
	  }
	  .image {
	    margin-top: -100px;
	  }
	  .column {
	    max-width: 450px;
	  }
	</style>
	<script>
	$(document)
	  .ready(function() {
	    $('.ui.form')
	      .form({
	        fields: {
	          email: {
	            identifier  : 'email',
	            rules: [
	              {
	                type   : 'empty',
	                prompt : '비밀번호를 입력하세요.'
	              },
	              {
	                type   : 'email',
	                prompt : 'Please enter a valid e-mail'
	              }
	            ]
	          },
	          password: {
	            identifier  : 'password',
	            rules: [
	              {
	                type   : 'empty',
	                prompt : '비밀번호를 입력하세요'
	              },
	              {
	                type   : 'length[6]',
	                prompt : '최소 6자리 이상의 비밀번호가 요구됩니다.'
	              }
	            ]
	          }
	        }
	      })
	    ;
	  })
	;
	</script>
</head>
<body>

	<div class="ui middle aligned center aligned grid">
	  <div class="column">
	    <h2 class="ui teal image header">
	      <div class="content">
	        SmartCaller Dashboard System
	      </div>
	    </h2>
	    <form class="ui large form" method="post" action="{%url 'login' %}">{% csrf_token %}

	      <div class="ui stacked segment">
	        <div class="field">
	          <div class="ui left icon input">
	            <i class="user icon"></i>
	            <!--<input type="text" name="user_id" placeholder="Identification">-->
				  {{form.username}}
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui left icon input">
	            <i class="lock icon"></i>
	            <!--<input type="password" name="password" placeholder="Password">-->
				  {{form.password}}
	          </div>
	        </div>
			<input type="hidden" name="next" value={{ next }} />
	        <input class="ui fluid large teal submit button" type="submit" value="Log in">
	      </div>

	      <div class="ui error message">{{error_msg}}</div>

	    </form>
	  </div>
	</div>

</body>

</html>
