﻿@charset "utf-8"; 

@font-face {
  font-family: 'CJ ONLYONE NEW body Light';
  font-style: normal;
  font-weight: 300;
  src: local('CJ ONLYONE NEW body Light'), local('CJ ONLYONE NEW body-Light'), local('CJ ONLYONE NEW body Light');
  src: url(font/CJ_ONLYONE_NEW_body_Light.eot);
  src: url(font/CJ_ONLYONE_NEW_body_Light.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_body_Light.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_body_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW body Regular';
  font-style: normal;
  font-weight: 400;
  src: local('CJ ONLYONE NEW body Regular'), local('CJ ONLYONE NEW body-Regular'), local('CJ ONLYONE NEW body Regular');
  src: url(font/CJ_ONLYONE_NEW_body_Regular.eot);
  src: url(font/CJ_ONLYONE_NEW_body_Regular.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_body_Regular.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_body_Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW title Medium';
  font-style: normal;
  font-weight: 500;
  src: local('CJ ONLYONE NEW title Medium'), local('CJ ONLYONE NEW title-Medium'), local('CJ ONLYONE NEW title Medium');
  src: url(font/CJ_ONLYONE_NEW_title_Medium.eot);
  src: url(font/CJ_ONLYONE_NEW_title_Medium.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_title_Medium.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_title_Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW title Bold';
  font-style: normal;
  font-weight: 700;
  src: local('CJ ONLYONE NEW title Bold'), local('CJ ONLYONE NEW title-Bold'), local('CJ ONLYONE NEW title Bold');
  src: url(font/CJ_ONLYONE_NEW_title_Bold.eot);
  src: url(font/CJ_ONLYONE_NEW_title_Bold.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_title_Bold.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_title_Bold.ttf) format('truetype');
}

/* Reset */
html, body {height:100%;-webkit-text-size-adjust:none;font-family:'CJ ONLYONE NEW body Regular','돋음',dotum,sans-serif;font-size:16px;color:#000;font-style:normal;background:#f8f7f2}
html, body, div, span, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {margin:0;padding:0;}
ol, ul, li {list-style:none;}
em, i {font-style:normal}
img {vertical-align:top}
img, fieldset {border:0 none;}
button {border:0 none;background:transparent;cursor:pointer}
hr {display:none;}
legend, .skip, .blind, .skip_nav {width:0;height:0;visibility:hidden;font-size:0;line-height:0;position:absolute;top:0;left:-9999em;overflow:hidden;}
table caption {display:none}
table {border-collapse:collapse;border-spacing:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
a:link, a:visited {text-decoration:none;color:#000}
a:hover, a:active {text-decoration:none}
input, textarea {-webkit-appearance:none;-webkit-border-radius:0;}
input[type="checkbox"] {-webkit-appearance:checkbox;vertical-align:middle}
input[type="radio"] {-webkit-appearance:radio;-webkit-border-radius:50px;width:13px;height:13px;margin:0 0 3px;padding:0;vertical-align:middle}
input[type="text"], input[type="password"], input[type="search"] {height:24px;line-height:24px;border:1px solid #d8d8d8;color:#333;font-size:16px}
textarea {border:1px solid #b2b2b2;overflow:scroll;overflow-x:hidden;color:#333;font-size:16px}
select {height:26px;border:1px solid #ddd;padding:0 20px 0 8px;vertical-align:middle}
strong, h1, h2, h3, h4, h5, h6 {font-weight:normal}

/* layout */
#wrap {position:relative;zoom:1}
#wrap:after{display:block;clear:both;content:''}
#header {position:fixed;top:0;left:0;right:0;height:100px;background:#4c3f33;z-index:20}
#content {position:relative;top:100px;max-width:1500px;margin:0 auto}

.header_in {zoom:1}
.header_in:after{display:block;clear:both;content:''}
.header_in {max-width:1500px;margin:0 auto}
.header_in h1 {float:left;width:120px;padding:25px 0 0}
.header_in .nav {float:left;margin-left:140px}
.header_in .nav ul {width:500px;zoom:1}
.header_in .nav ul:after{display:block;clear:both;content:''}
.header_in .nav li {float:left;width:50%}
.header_in .nav li a {display:block;height:100px;line-height:100px;text-align:center;color:#fff;font-size:20px;}
.header_in .nav li a span {position:relative;display:inline-block;height:96px;color:#a89c91;font-size:21px;}
.header_in .nav li.on a span {color:#fff;border-bottom:4px solid #dc282e}
.header_in .nav li .num {display:inline-block;height:22px;line-height:22px;min-width:12px;padding:0 6px;margin:-2px 0 0 10px;background:#c2272d;border-radius:24px;color:#fff;font-size:12px;text-align:center;font-family:'CJ ONLYONE NEW title Medium';vertical-align:middle}
.header_in .func {float:right}
.header_in .func li {float:left;line-height:100px;padding:0 48px}
.header_in .func li img {vertical-align:middle}
.header_in .func li.func_store a span {padding-left:6px;color:#d8cec6;font-size:18px;font-family:'CJ ONLYONE NEW body Light'}
.header_in .func li.func_setting {padding-right:0;background:url('../images/line_func.png') no-repeat left center}

.list_top {padding:50px 0 26px;background:url('../images/line_list_top.png') repeat-x left bottom;zoom:1}
.list_top:after {display:block;clear:both;content:''}
.list_top h2 {float:left;color:#3a2c1f;font-size:30px}
.list_top .total {float:left;padding:7px 0 0 20px;color:#3a2c1f;font-size:20px}
.list_top .total em {color:#c2272d}
.list_top .state_top {float:right;padding-top:7px;}
.list_top .state_top li {float:left;padding-left:50px}
.list_top .state_top li .state_customer {width:12px;height:12px}
.list_top .state_top li span {display:inline-block;color:#3a2c1f;font-size:18px;vertical-align:middle}
#content.salad_bar .list_top {padding:50px 0 4px;background:none}

.state_customer {display:inline-block;width:18px;height:18px;border-radius:18px;margin:-2px 5px 0 0;vertical-align:middle}
.state_customer.request {background:#c2272d}
.state_customer.waiting {background:#fb9c1b}
.state_customer.complete {background:#49984d}

.state_employee {display:inline-block !important;width:160px;height:58px;line-height:58px;border-radius:58px;font-size:19px;}
.state_employee em {display:inline-block;padding-left:35px}
.state_employee.receipt {border:1px solid #c3292e;background:#c3292e}
.state_employee.ready {border:1px solid #b19c8a;background:#b19c8a}
.state_employee.complete {border:1px solid #7b6857;background:none}
.state_employee.receipt em {color:#fff;background:url('../images/state_receipt.png') no-repeat left center}
.state_employee.ready em {color:#fff;background:url('../images/state_ready.png') no-repeat left center}
.state_employee.complete em {color:#3a2c1f;background:url('../images/state_complete.png') no-repeat left center}

.state_amount {display:inline-block;width:38px;height:20px;vertical-align:middle}
.state_amount.amount30 {background:url('../images/state_amount30.png') no-repeat left center}
.state_amount.amount10 {background:url('../images/state_amount10.png') no-repeat left center}

.smartcall_list {padding:34px 0}
.smartcall_list .sl_header {height:34px;line-height:34px;color:#796655;font-size:16px}
.smartcall_list .sl_header .sl1, .smartcall_list .sl_body .sl1 {float:left;text-align:center;width:7%}
.smartcall_list .sl_header .sl2, .smartcall_list .sl_body .sl2 {float:left;text-align:center;width:43%}
.smartcall_list .sl_header .sl3, .smartcall_list .sl_body .sl3 {float:left;text-align:center;width:12%}
.smartcall_list .sl_header .sl4, .smartcall_list .sl_body .sl4 {float:left;text-align:center;width:12%}
.smartcall_list .sl_header .sl5, .smartcall_list .sl_body .sl5 {float:left;text-align:center;width:12%}
.smartcall_list .sl_header .sl6, .smartcall_list .sl_body .sl6 {float:left;text-align:center;width:14%}
.smartcall_list .sl_body div {height:100px;display:table}
.smartcall_list .sl_body span {display:table-cell;color:#3a2c1f;font-size:19px;}
.smartcall_list .sl_body {margin:14px 0;min-height:100px;line-height:100px;background:#eeebe6;border-radius:8px;}
.smartcall_list .sl_body .sl1 span {color:#c2272d;font-size:31px;font-family:'CJ ONLYONE NEW body Light';border-right:2px solid #f6f5f2}
.smartcall_list .sl_body .sl2 span {text-align:left;font-size:22px;padding-left:60px;line-height:1.4;vertical-align:middle}
.smartcall_list .sl_body .sl1 span, .smartcall_list .sl_body .sl3 span, .smartcall_list .sl_body .sl4 span, .smartcall_list .sl_body .sl5 span {font-family:'CJ ONLYONE NEW body Light'}
.smartcall_list .sl_body .sl3 img {margin-right:4px;vertical-align:middle}
.smartcall_list .sl_body.lately {background:#fff;box-shadow:0 2px 5px rgba(0, 0, 0, 0.05)}
.smartcall_list .sl_body.lately .sl1 span {border-right:2px solid #ebe6e2}

.salad_bar_list {width:1500px;padding-bottom:70px}
.salad_bar_list ul {zoom:1}
.salad_bar_list ul:after {display:block;clear:both;content:''}
.salad_bar_list > ul > li {width:100%;overflow:hidden}
.salad_bar_list ul li ul {margin-left:-13px}
.salad_bar_list ul li ul li {float:left;width:16.666666666666666%}
.salad_bar_list ul li ul li div {width:240px;height:100px;margin:16px 13px 0 13px;background:#fff;border-radius:5px;text-align:center}
.salad_bar_list ul li ul li div span {display:block;color:#aa813f;font-size:15px;padding-top:20px;font-family:'CJ ONLYONE NEW body Light';}
.salad_bar_list ul li ul li div strong {display:block;color:#3a2c1f;font-size:20px;padding-top:4px}
.salad_bar_list ul li ul li div.state30 {background:#c2272d;box-shadow:0 6px 5px -4px rgba(0, 0, 0, 0.2)}
.salad_bar_list ul li ul li div.state10 {background:#fb9c1b;box-shadow:0 6px 5px -4px rgba(0, 0, 0, 0.2)}
.salad_bar_list ul li ul li div.state30 span, .salad_bar_list ul li ul li div.state10 span {color:#fff;opacity:0.5;filter:alpha(opacity=50);}
.salad_bar_list ul li ul li div.state30 strong, .salad_bar_list ul li ul li div.state10 strong {color:#fff}

.bxslider {position:relative;zoom:1}
.bx-wrapper .bx-has-pager {position:absolute;bottom:24px;left:50%;width:400px;height:22px;margin-left:-200px;display:inline-block;text-align:center;z-index:60;zoom:1}
.bx-wrapper .bx-has-pager:after{display:block;clear:both;content:''}
.bx-wrapper .bx-has-pager .bx-pager {display:inline-block}
.bx-wrapper .bx-has-pager .bx-pager-item {display:inline-block}
.bx-wrapper .bx-has-pager .bx-pager-item a {display:block;width:34px;height:24px;background:url('../images/bx_pager.png') no-repeat center 4px;text-indent:-9999em;overflow:hidden}
.bx-wrapper .bx-has-pager .bx-pager-item a.active {background:url('../images/bx_pager.png') no-repeat center -46px}






