﻿@charset "utf-8"; 

@font-face {
  font-family: 'CJ ONLYONE NEW body Light';
  font-style: normal;
  font-weight: 300;
  src: local('CJ ONLYONE NEW body Light'), local('CJ ONLYONE NEW body-Light'), local('CJ ONLYONE NEW body Light');
  src: url(font/CJ_ONLYONE_NEW_body_Light.eot);
  src: url(font/CJ_ONLYONE_NEW_body_Light.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_body_Light.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_body_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW body Regular';
  font-style: normal;
  font-weight: 400;
  src: local('CJ ONLYONE NEW body Regular'), local('CJ ONLYONE NEW body-Regular'), local('CJ ONLYONE NEW body Regular');
  src: url(font/CJ_ONLYONE_NEW_body_Regular.eot);
  src: url(font/CJ_ONLYONE_NEW_body_Regular.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_body_Regular.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_body_Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW title Medium';
  font-style: normal;
  font-weight: 500;
  src: local('CJ ONLYONE NEW title Medium'), local('CJ ONLYONE NEW title-Medium'), local('CJ ONLYONE NEW title Medium');
  src: url(font/CJ_ONLYONE_NEW_title_Medium.eot);
  src: url(font/CJ_ONLYONE_NEW_title_Medium.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_title_Medium.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_title_Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW title Bold';
  font-style: normal;
  font-weight: 700;
  src: local('CJ ONLYONE NEW title Bold'), local('CJ ONLYONE NEW title-Bold'), local('CJ ONLYONE NEW title Bold');
  src: url(font/CJ_ONLYONE_NEW_title_Bold.eot);
  src: url(font/CJ_ONLYONE_NEW_title_Bold.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_title_Bold.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_title_Bold.ttf) format('truetype');
}

/* Reset */
html, body {height:100%;-webkit-text-size-adjust:none;font-family:'CJ ONLYONE NEW body Regular','돋음',dotum,sans-serif;font-size:16px;color:#000;font-style:normal}
html, body, div, span, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {margin:0;padding:0;}
ol, ul, li {list-style:none;}
em, i {font-style:normal}
img {vertical-align:top}
img, fieldset {border:0 none;}
button {border:0 none;background:transparent;cursor:pointer}
hr {display:none;}
legend, .skip, .blind, .skip_nav {width:0;height:0;visibility:hidden;font-size:0;line-height:0;position:absolute;top:0;left:-9999em;overflow:hidden;}
table caption {display:none}
table {border-collapse:collapse;border-spacing:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
a:link, a:visited {text-decoration:none;color:#000}
a:hover, a:active {text-decoration:none}
input, textarea {-webkit-appearance:none;-webkit-border-radius:0;}
input[type="checkbox"] {-webkit-appearance:checkbox;vertical-align:middle}
input[type="radio"] {-webkit-appearance:radio;-webkit-border-radius:50px;width:13px;height:13px;margin:0 0 3px;padding:0;vertical-align:middle}
input[type="text"], input[type="password"], input[type="search"] {height:24px;line-height:24px;border:1px solid #d8d8d8;color:#333;font-size:16px}
textarea {border:1px solid #b2b2b2;overflow:scroll;overflow-x:hidden;color:#333;font-size:16px}
select {height:26px;border:1px solid #ddd;padding:0 20px 0 8px;vertical-align:middle}
strong, h1, h2, h3, h4, h5, h6 {font-weight:normal}

/* layout */
#wrap {position:relative;zoom:1}
#wrap:after{display:block;clear:both;content:''}
#header {position:fixed;top:0;left:0;right:0;z-index:55}
#content {position:relative;padding:80px 30px 20px}
#popup_content {position:relative;padding:80px 30px 20px}

#header h1 {height:56px;padding:18px 30px 0;background:#fff;z-index:55}
#header h1 .btn_nav {display:inline-block;width:30px;height:24px;background:url('../images/btn_nav.png') no-repeat}
#header h1 .btn_nav span {display:none}
#header h1 .btn_back {display:inline-block;width:30px;height:30px;background:url('../images/btn_back.png') no-repeat}
#header h1 .btn_back span {display:none}
#header h1 .title {display:inline-block;padding-left:10px;font-size:30px;color:3a2c1f;vertical-align:top}
.nav {position:fixed;top:0;left:-100%;bottom:0;width:360px;overflow-x:hidden;overflow-y:auto;background:#212121;z-index:60}
.nav .nav_top {margin:24px 0 0 24px;}
.nav .nav_top .btn_nav_close {display:inline-block;width:34px;height:34px;background:url('../images/btn_nav_close.png') no-repeat center center;vertical-align:middle}
.nav .nav_top .btn_nav_close span {display:none}
.nav .nav_top strong {display:inline-block;vertical-align:middle;margin:-2px 0 0 20px}
.nav .nav_menu {margin:70px 0 0 24px}
.nav .nav_menu li {padding:28px 0 28px 24px}
.nav .nav_menu li a {color:#a39382;font-size:32px}
.nav .night_mode {position:absolute;bottom:0;left:0;width:100%;height:99px;text-align:center;border-top:1px solid #000;}
.nav .night_mode strong {position:absolute;top:34px;left:40px;color:#7c7c7c;font-size:24px;}
.nav .night_mode input {display:none}
.nav .night_mode label {position:absolute;top:30px;right:27px;display:inline-block;width:80px;height:44px;background:url('../images/night_mode.png') no-repeat center center}
.nav .night_mode label span {display:none}
.nav .night_mode input[type="checkbox"]:checked + label {background:url('../images/night_mode_on.png') no-repeat center center}

.intro {position:fixed;top:0;bottom:0;left:0;right:0;width:100%;height:100%;background:#fff;z-index:100}
.intro_logo {position:relative;top:30%;text-align:center}
.intro_footer {position:absolute;bottom:5%;width:100%;text-align:center}
.intro_footer p {font-size:12px;color:#666;padding-top:10px;font-family:'CJ ONLYONE NEW body Light'}

.tab_menu ul {border-bottom:1px solid #ddd;zoom:1}
.tab_menu ul:after{display:block;clear:both;content:''}
.tab_menu li {float:left;width:50%}
.tab_menu li a {display:block;height:50px;line-height:50px;text-align:center;color:#999;font-size:20px;}
.tab_menu li.on {}
.tab_menu li.on a {color:#816a51;border-bottom:4px solid #a39382;margin-bottom:-1px}

.item_list {margin-bottom:130px}
.item_list li {position:relative;padding:17px 0;border-bottom:1px solid #f4f3ed;zoom:1}
.item_list li:after{display:block;clear:both;content:''}
.item_list li .photo {float:left;display:inline-block;width:70px;height:70px}
.item_list li .name {display:block;color:#000;font-size:18px;margin:0 170px 0 90px;padding-top:12px}
.item_list li .detail {display:block;color:#666;font-size:12px;margin:0 170px 0 90px;font-family:'CJ ONLYONE NEW body Light'}
.item_list li .price1 {position:absolute;bottom:50px;right:78px;display:inline-block;color:#816a51;font-size:16px;font-family:'CJ ONLYONE NEW body Light'; text-decoration:line-through;}
.item_list li .price2 {position:absolute;bottom:24px;right:78px;display:inline-block;color:#80654e;font-size:18px}
.item_list li .btn_cart {position:absolute;bottom:24px;right:10px;display:inline-block;color:#80654e;font-size:18px}
.item_list li .btn_cart input {display:none}
.item_list li .btn_cart label {cursor:pointer}
#list2.item_list {display:none;padding-top:10px}
#list2.item_list li {padding:12px 0}
#list2.item_list li .name {padding-top:22px}
#list2.item_list li .price2 {bottom:34px}

.cart_list {margin-bottom:130px}
.cart_list ul {border-top:1px solid #eee}
.cart_list li {position:relative;padding:17px 0;border-bottom:1px solid #eee;zoom:1}
.cart_list li:after{display:block;clear:both;content:''}
.cart_list li .photo {float:left;display:inline-block;width:70px;height:70px}
.cart_list li .name {display:block;color:#000;font-size:18px;margin:0 170px 0 90px;padding-top:20px}
.cart_list li .number {position:absolute;bottom:54px;right:78px;display:inline-block;color:#666;font-size:16px;font-family:'CJ ONLYONE NEW body Light'}
.cart_list li .price {position:absolute;bottom:28px;right:78px;display:inline-block;color:#666;font-size:18px}
.cart_list li .btn_cart_delete {position:absolute;bottom:28px;right:10px;display:inline-block;color:#80654e;font-size:18px}
.cart_list li .btn_cart_delete input {display:none}
.cart_list li .btn_cart_delete label {cursor:pointer}
.cart_list li.nodata {text-align:center;padding-top:290px  ;border-bottom:0 none;font-size:24px;color:#666;font-family:'CJ ONLYONE NEW body Light'}

.total_area {position:fixed;bottom:100px;left:0;width:100%;padding:20px 0 30px;background:#fff;zoom:1}
.total_area:after{display:block;clear:both;content:''}
.total_area .total_number {float:left;width:45%;text-align:Center;font-size:18px}
.total_area .total_number strong {font-size:28px;padding:0 5px 0 20px}
.total_area .total_price {float:left;width:55%;text-align:Center;font-size:18px;background:url('../images/line_total_area.png') no-repeat left center}
.total_area .total_price strong {font-size:28px;padding:0 5px 0 20px}

.btn_order_area {position:fixed;bottom:0;left:0;width:100%;height:100px;zoom:1}
.btn_order_area:after {display:block;clear:both;content:''}
.btn_order_area .btn_order {float:left;display:inline-block;width:100%;height:100px;line-height:100px;background:#e2e2e2;text-align:center;color:#acacac;font-size:24px}
.btn_order_area .btn_order span {padding:10px 0 10px 54px;background:url('../images/btn_order.png') no-repeat left center}
.btn_order_area .btn_order span em {display:none}
.btn_order_area .btn_order.on {background:#a39382;color:#fff}
.btn_order_area .btn_order.on span {background:url('../images/btn_order_on.png') no-repeat left center}

.btn_paying_area {position:fixed;bottom:0;left:0;width:100%;height:100px;zoom:1}
.btn_paying_area:after {display:block;clear:both;content:''}
.btn_paying_area .btn_qr {float:left;display:inline-block;width:70%;height:100px;line-height:100px;background:#000;text-align:center;color:#fff;font-size:24px}
.btn_paying_area .btn_field {float:left;display:inline-block;width:30%;height:100px;line-height:100px;background:#a39382;text-align:center;color:#fff;font-size:24px}

.qr_area {text-align:center;padding:80px 50px}
.qr_area .qr_info {line-height:1.7;padding-top:30px;font-size:18px;color:#666;font-family:'CJ ONLYONE NEW body Light'}

.complete_area {text-align:center;padding:180px 50px}
.complete_area strong {font-size:36px;padding-top:90px;background:url('../images/complete.png') no-repeat center top}
.complete_area p {line-height:1.5;color:#666;font-size:24px;padding-top:40px;font-family:'CJ ONLYONE NEW body Light'}
.complete_area.complete_receive strong {background:url('../images/complete_receive.png') no-repeat center 24px}
.complete_area.complete_delivery strong {background:url('../images/complete_delivery.png') no-repeat center 7px}

.order_history > ul {margin-bottom:130px}
.order_history li .history_in {display:none;border-bottom:1px solid #ccc}
.order_history li .total_area {position:relative;bottom:auto;left:auto;padding-bottom:40px}
.order_history li:first-child .category {border-top:1px solid #ccc}
.order_history .category {position:relative;height:78px;line-height:78px;border-bottom:1px solid #ccc}
.order_history .category .date {display:inline-block;padding:0 10px;color:#80654e;font-size:24px;}
.order_history .category .time {display:inline-block;padding-left:10px;color:#80654e;font-size:24px;font-family:'CJ ONLYONE NEW body Light';background:url('../images/line_category.png') no-repeat left center}
.order_history .category .btn_openclose {position:absolute;top:0;right:0;display:inline-block;width:54px;height:78px;background:url('../images/btn_openclose.png') no-repeat center center}
.order_history .category .btn_openclose span {display:none}
.order_history .category .btn_openclose.off {background:url('../images/btn_openclose_off.png') no-repeat center center}
.order_history .cart_list {margin-bottom:10px}
.order_history .cart_list li {border-top:1px solid #eee;border-bottom:0 none}
.order_history .cart_list li:first-child {border-top:0 none}
.order_history .cart_list li .number {right:20px}
.order_history .cart_list li .price {right:20px}


.btn_complete_area {position:fixed;bottom:0;left:0;width:100%;height:100px;zoom:1}
.btn_complete_area:after {display:block;clear:both;content:''}
.btn_complete_area .btn_complete {float:left;display:inline-block;width:100%;height:100px;line-height:100px;background:#e2e2e2;text-align:center;color:#acacac;font-size:24px}
.btn_complete_area .btn_complete.on {background:#000;color:#fff}
.btn_complete_area .btn_complete_confirm {float:left;display:inline-block;width:100%;height:100px;line-height:100px;background:#a39382;text-align:center;color:#fff;font-size:24px}

.popup_dim {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);z-index:55}

.popup_confirm {display:none;position:fixed;top:50%;left:50%;margin:-130px 0 0 -180px;width:360px;height:260px;background:#fff;z-index:60}
.popup_confirm .popup_in {margin-top:50px;text-align:center;line-height:1.7}
.popup_confirm .popup_in strong {display:block;color:#3a2c1f;font-size:24px;margin:0 50px}
.popup_confirm .popup_in p {padding-top:15px;color:#000;font-size:20px}
.popup_confirm .popup_btn_area {position:absolute;bottom:0;left:0;width:100%;height:70px;line-height:70px;border-top:1px solid #ddd;background:#f5f5f5;zoom:1}
.popup_confirm .popup_btn_area:after {display:block;clear:both;content:''}
.popup_confirm .popup_btn_area a.btn_deny {float:left;width:50%;display:inline-block;text-align:center;font-size:20px;color:#999}
.popup_confirm .popup_btn_area a.btn_allow {float:left;width:50%;display:inline-block;text-align:center;font-size:20px;color:#80654e;border-left:1px solid #ddd;margin-left:-1px}
.popup_confirm.popup_field .popup_in {margin-top:30px}
