<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>VIPS Smart Caller</title>
<link rel="stylesheet" type="text/css" href="/static/server/vips/css/common.css" />
<script type="text/javascript" src="/static/server/vips/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/server/vips/js/smartcall.js"></script>
</head>
<body>

<div id="wrap">
	<header id="header">
		<div class="header_in">
			<h1><span><img src="/static/server/vips/images/logo_vips.png" alt="VIPS" /></span></h1>
			<nav class="nav">
				<ul>
					<li class="on"><a href="smartcall"><span>Smart Call</span><em class="num total_request">{{r|add:w}}</em></a></li>
					<li><a href="saladbar"><span>Salad Bar</span><em class="num">2</em></a></li>
				</ul>
			</nav>
			<div class="func">
				<ul>
					<li class="func_store"><a href="#link"><img src="/static/server/vips/images/store.png" alt="" /> <span>CJ푸드월드점</span></a></li>
					<li class="func_setting"><a href="#link"><img src="/static/server/vips/images/btn_setting.png" alt="" /></a></li>
				</ul>
			</div>
		</div>
	</header>

	<section id="content" class="smart_call">
		<div class="list_top">
			<h2>Smart Call</h2>
			<span class="total">총 <em class="total_request">{{ r|add:w }}</em>건</span>
			<ul class="state_top">
				<li><em class="state_customer request"></em><span>요청 <span class="req_count">{{r}}</span>건</span></li>
				<li><em class="state_customer waiting"></em><span>대기 <span class="req_wait">{{w}}</span>건</span></li>
				<li><em class="state_customer complete"></em><span>완료 <span class="req_complete">{{c}}</span>건</span></li>
			</ul>
		</div>
		<article class="smartcall_list">
			<ul>
				<li class="sl_header">
					<div class="sl1"><span>좌석</span></div>
					<div class="sl2"><span>요청사항</span></div>
					<div class="sl3"><span>대기 시간</span></div>
					<div class="sl4"><span>고객 상태</span></div>
					<div class="sl5"><span>접수 직원</span></div>
					<div class="sl6"><span>직원 상태</span></div>
				</li>
				<!--<li class="sl_body lately">-->
					<!--<div class="sl1"><span>34</span></div>-->
					<!--<div class="sl2"><span>스테이크 소스, 스테이크 나이프</span></div>-->
					<!--<div class="sl3"><span><img src="/static/server/vips/images/clock.png" alt="" /> 00:31</span></div>-->
					<!--<div class="sl4"><span><em class="state_customer request"></em> 요청</span></div>-->
					<!--<div class="sl5"><span>최선영님</span></div>-->
					<!--<div class="sl6"><span class="state_employee receipt"><em>접수</em></span></div>-->
				<!--</li>-->
				<!--<li class="sl_body lately">-->
					<!--<div class="sl1"><span>10</span></div>-->
					<!--<div class="sl2"><span>물, 메뉴판, 냅킨</span></div>-->
					<!--<div class="sl3"><span><img src="/static/server/vips/images/clock.png" alt="" /> 00:31</span></div>-->
					<!--<div class="sl4"><span><em class="state_customer request"></em> 요청</span></div>-->
					<!--<div class="sl5"><span>-</span></div>-->
					<!--<div class="sl6"><span class="state_employee receipt"><em>접수</em></span></div>-->
				<!--</li>-->
				<!--<li class="sl_body lately">-->
					<!--<div class="sl1"><span>37</span></div>-->
					<!--<div class="sl2"><span>직원 호출</span></div>-->
					<!--<div class="sl3"><span><img src="/static/server/vips/images/clock.png" alt="" /> 00:31</span></div>-->
					<!--<div class="sl4"><span><em class="state_customer waiting"></em> 대기</span></div>-->
					<!--<div class="sl5"><span>-</span></div>-->
					<!--<div class="sl6"><span class="state_employee ready"><em>준비</em></span></div>-->
				<!--</li>-->
				<!--<li class="sl_body">-->
					<!--<div class="sl1"><span>7</span></div>-->
					<!--<div class="sl2"><span>냅킨</span></div>-->
					<!--<div class="sl3"><span><img src="/static/server/vips/images/clock.png" alt="" /> 00:31</span></div>-->
					<!--<div class="sl4"><span><em class="state_customer complete"></em> 완료</span></div>-->
					<!--<div class="sl5"><span>-</span></div>-->
					<!--<div class="sl6"><span class="state_employee complete"><em>완료</em></span></div>-->
				<!--</li>-->
				<!--<li class="sl_body">-->
					<!--<div class="sl1"><span>22</span></div>-->
					<!--<div class="sl2"><span>생일 준비</span></div>-->
					<!--<div class="sl3"><span><img src="/static/server/vips/images/clock.png" alt="" /> 00:31</span></div>-->
					<!--<div class="sl4"><span><em class="state_customer complete"></em> 완료</span></div>-->
					<!--<div class="sl5"><span>-</span></div>-->
					<!--<div class="sl6"><span class="state_employee complete"><em>완료</em></span></div>-->
				<!--</li>-->
				<!--<li class="sl_body">-->
					<!--<div class="sl1"><span>7</span></div>-->
					<!--<div class="sl2"><span>냅킨</span></div>-->
					<!--<div class="sl3"><span><img src="/static/server/vips/images/clock.png" alt="" /> 00:31</span></div>-->
					<!--<div class="sl4"><span><em class="state_customer complete"></em> 완료</span></div>-->
					<!--<div class="sl5"><span>-</span></div>-->
					<!--<div class="sl6"><span class="state_employee complete"><em>완료</em></span></div>-->
				<!--</li>-->
				<!--<li class="sl_body">-->
					<!--<div class="sl1"><span>22</span></div>-->
					<!--<div class="sl2"><span>생일 준비</span></div>-->
					<!--<div class="sl3"><span><img src="/static/server/vips/images/clock.png" alt="" /> 00:31</span></div>-->
					<!--<div class="sl4"><span><em class="state_customer complete"></em> 완료</span></div>-->
					<!--<div class="sl5"><span>-</span></div>-->
					<!--<div class="sl6"><span class="state_employee complete"><em>완료</em></span></div>-->
				<!--</li>-->
			</ul>
		</article>
	</section>
</div>

<script type="text/javascript">

</script>
</body>
</html>
