﻿@charset "utf-8"; 

@font-face {
  font-family: 'CJ ONLYONE NEW body Light';
  font-style: normal;
  font-weight: 300;
  src: local('CJ ONLYONE NEW body Light'), local('CJ ONLYONE NEW body-Light'), local('CJ ONLYONE NEW body Light');
  src: url(font/CJ_ONLYONE_NEW_body_Light.eot);
  src: url(font/CJ_ONLYONE_NEW_body_Light.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_body_Light.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_body_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW body Regular';
  font-style: normal;
  font-weight: 400;
  src: local('CJ ONLYONE NEW body Regular'), local('CJ ONLYONE NEW body-Regular'), local('CJ ONLYONE NEW body Regular');
  src: url(font/CJ_ONLYONE_NEW_body_Regular.eot);
  src: url(font/CJ_ONLYONE_NEW_body_Regular.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_body_Regular.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_body_Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW title Medium';
  font-style: normal;
  font-weight: 500;
  src: local('CJ ONLYONE NEW title Medium'), local('CJ ONLYONE NEW title-Medium'), local('CJ ONLYONE NEW title Medium');
  src: url(font/CJ_ONLYONE_NEW_title_Medium.eot);
  src: url(font/CJ_ONLYONE_NEW_title_Medium.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_title_Medium.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_title_Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'CJ ONLYONE NEW title Bold';
  font-style: normal;
  font-weight: 700;
  src: local('CJ ONLYONE NEW title Bold'), local('CJ ONLYONE NEW title-Bold'), local('CJ ONLYONE NEW title Bold');
  src: url(font/CJ_ONLYONE_NEW_title_Bold.eot);
  src: url(font/CJ_ONLYONE_NEW_title_Bold.eot?#iefix) format('embedded-opentype'),
       url(font/CJ_ONLYONE_NEW_title_Bold.woff) format('woff'),
       url(font/CJ_ONLYONE_NEW_title_Bold.ttf) format('truetype');
}

/* Reset */
html, body {height:100%;-webkit-text-size-adjust:none;font-family:'CJ ONLYONE NEW body Regular','돋음',dotum,sans-serif;font-size:16px;color:#000;font-style:normal;background:#f8f7f2}
html, body, div, span, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {margin:0;padding:0;}
ol, ul, li {list-style:none;}
em, i {font-style:normal}
img {vertical-align:top}
img, fieldset {border:0 none;}
button {border:0 none;background:transparent;cursor:pointer}
hr {display:none;}
legend, .skip, .blind, .skip_nav {width:0;height:0;visibility:hidden;font-size:0;line-height:0;position:absolute;top:0;left:-9999em;overflow:hidden;}
table caption {display:none}
table {border-collapse:collapse;border-spacing:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
a:link, a:visited {text-decoration:none;color:#000}
a:hover, a:active {text-decoration:none}
input, textarea {-webkit-appearance:none;-webkit-border-radius:0;}
input[type="checkbox"] {-webkit-appearance:checkbox;vertical-align:middle}
input[type="radio"] {-webkit-appearance:radio;-webkit-border-radius:50px;width:13px;height:13px;margin:0 0 3px;padding:0;vertical-align:middle}
input[type="text"], input[type="password"], input[type="search"] {height:24px;line-height:24px;border:1px solid #d8d8d8;color:#333;font-size:16px}
textarea {border:1px solid #b2b2b2;overflow:scroll;overflow-x:hidden;color:#333;font-size:16px}
select {height:26px;border:1px solid #ddd;padding:0 20px 0 8px;vertical-align:middle}
strong, h1, h2, h3, h4, h5, h6 {font-weight:normal}

/* layout */
#wrap {position:relative;zoom:1}
#wrap:after{display:block;clear:both;content:''}
#header {position:fixed;top:0;left:0;right:0;height:100px;background:#363636;z-index:20}
#content {position:relative;top:100px;max-width:1500px;margin:0 auto}

.header_in {zoom:1}
.header_in:after{display:block;clear:both;content:''}
.header_in {max-width:1500px;margin:0 auto}
.header_in h1 {float:left;width:120px;padding:25px 0 0}
.header_in .nav {float:left;margin-left:100px}
.header_in .nav ul {width:500px;zoom:1}
.header_in .nav ul:after{display:block;clear:both;content:''}
.header_in .nav li {float:left;width:50%}
.header_in .nav li a {display:block;height:100px;line-height:100px;text-align:center;color:#fff;font-size:20px;}
.header_in .nav li a span {position:relative;display:inline-block;height:96px;color:#a89c91;font-size:21px;}
.header_in .nav li.on a span {color:#fff;border-bottom:4px solid #dc282e}
.header_in .func {float:right;width:500px;background:#2a2a2a}
.header_in .func li {float:left;line-height:98px;padding:0 48px}
.header_in .func li img {vertical-align:middle}
.header_in .func li.func_store a span {padding-left:6px;color:#d8cec6;font-size:18px;font-family:'CJ ONLYONE NEW body Light'}
.header_in .func li.func_setting {float:right}

.list_top {width:955px;padding:50px 0 26px;zoom:1}
.list_top:after {display:block;clear:both;content:''}
.list_top h2 {float:left;color:#3a2c1f;font-size:30px}
.list_top .state_tab {float:right;padding-top:7px;}
.list_top .state_tab li {float:left;padding-left:66px}
.list_top .state_tab li span {display:inline-block;padding-bottom:4px;color:#b19c8a;font-size:18px;}
.list_top .state_tab li.on span {border-bottom:2px solid #dc282e;color:#3a2c1f}


.list_top .state_tab ul:after{display:block;clear:both;content:''}
.list_top .state_tab li.on {}



.smartordedr_list {width:955px;zoom:1}
.smartordedr_list:after{display:block;clear:both;content:''}
.smartordedr_list ul {margin-left:-25px}
.smartordedr_list li {float:left;width:25%}
.smartordedr_list .state {position:relative;display:block;width:216px;height:246px;border:2px solid #fff;background:#fff;margin:0 0 25px 25px;text-align:center}
.smartordedr_list .state .seat {display:block;padding-top:47px;color:#c2272d;font-size:40px;font-family:'CJ ONLYONE NEW body Light'}
.smartordedr_list .state .time {display:block;padding-top:37px;color:#b19c8a;font-size:15px;}
.smartordedr_list .state .order_detail {display:block;padding-top:7px;color:#3a2c1f;font-size:18px;font-family:'CJ ONLYONE NEW body Light'}
.smartordedr_list .state .payment {display:block;padding-top:4px;color:#3a2c1f;font-size:18px;}
.smartordedr_list .state.on, .smartordedr_list .state.ing.on, .smartordedr_list .state.complete.on {border:2px solid #c2272d;box-shadow:0 4px 8px 2px rgba(0, 0, 0, 0.15)}
.smartordedr_list .state.ing {border:2px solid #c2272d;background:#c2272d}
.smartordedr_list .state.ing .seat {color:#fff}
.smartordedr_list .state.ing .time {padding-top:8px}
.smartordedr_list .state.ing .st_ing .st_text {position:absolute;top:-2px;right:-2px;display:inline-block;width:44px;height:21px;line-height:21px;text-align:center;border-top:2px solid #b19c8a;border-right:2px solid #b19c8a;background:#b19c8a;color:#fff;font-size:14px;font-family:'CJ ONLYONE NEW body Light'}
.smartordedr_list .state.ing .st_ing .st_img {position:absolute;bottom:0;left:0;display:inline-block;width:100%;height:120px;background:#c2272d url('../images/state_ing.png') no-repeat center 28px}
.smartordedr_list .state.complete {border:2px solid #eeebe6;background:#eeebe6}
.smartordedr_list .state.complete .time {padding-top:8px}
.smartordedr_list .state.complete .st_complete .st_text {position:absolute;top:-2px;right:-2px;display:inline-block;width:44px;height:21px;line-height:21px;text-align:center;border-top:2px solid #b19c8a;border-right:2px solid #b19c8a;background:#b19c8a;color:#fff;font-size:14px;font-family:'CJ ONLYONE NEW body Light'}
.smartordedr_list .state.complete .st_complete .st_img {position:absolute;bottom:0;left:0;display:inline-block;width:100%;height:120px;background:#eeebe6 url('../images/state_complete.png') no-repeat center 17px}
.smartordedr_list .state.complete.on .st_complete .st_text {border-top:2px solid #c2272d;border-right:2px solid #c2272d}
.smartordedr_list .state .st_ing .st_text, .smartordedr_list .state .st_complete .st_text {display:none}
#list2.smartordedr_list {display:none;}


.order_summary {position:fixed;top:100px;right:0;bottom:0;width:400px;min-height:500px;padding:50px;background:#fff}
.order_summary h3 {color:#3a2c1f;font-size:30px}
.order_summary .summary {position:relative;padding:16px 0 26px}
.order_summary .summary .seat {color:#c2272d;font-size:80px;font-family:'CJ ONLYONE NEW body Light'}
.order_summary .summary .time1 {position:absolute;top:38px;right:0;color:#b19c8a;font-size:24px;font-family:'CJ ONLYONE NEW body Light'}
.order_summary .summary .time2 {position:absolute;top:74px;right:0;color:#b19c8a;font-size:24px;font-family:'CJ ONLYONE NEW body Light'}
.order_summary .detail_amount {padding:34px 0;border-top:2px solid #f0f0f0;overflow-x:hidden;overflow-y:auto}
.order_summary .detail_amount li {padding:10px 0;zoom:1}
.order_summary .detail_amount li:after{display:block;clear:both;content:''}
.order_summary .detail_amount li .name {float:left;width:60%;color:#3a2c1f;font-size:22px;}
.order_summary .detail_amount li .number {float:left;width:20%;color:#3a2c1f;font-size:20px;font-family:'CJ ONLYONE NEW title Medium'}
.order_summary .detail_amount li .price {float:right;width:20%;color:#3a2c1f;font-size:20px;text-align:right}

.order_summary .detail_payment {position:absolute;bottom:130px;left:50px;right:50px;padding:34px 0;border-top:2px solid #f0f0f0}
.order_summary .detail_payment li {padding:10px 0;zoom:1}
.order_summary .detail_payment li:after{display:block;clear:both;content:''}
.order_summary .detail_payment li .title {float:left;width:40%;color:#3a2c1f;font-size:24px;}
.order_summary .detail_payment li .number {float:right;width:60%;color:#3a2c1f;font-size:26px;text-align:right;font-family:'CJ ONLYONE NEW title Medium'}
.order_summary .detail_payment li .type {float:right;width:60%;color:#3a2c1f;font-size:26px;text-align:right;font-family:'CJ ONLYONE NEW title Medium'}
.order_summary .detail_payment li .price {float:right;width:60%;color:#c2272d;font-size:30px;text-align:right;font-family:'CJ ONLYONE NEW title Medium'}

.order_summary .btn_area {position:absolute;bottom:0;left:0;width:100%;height:110px;zoom:1}
.order_summary .btn_area:after {display:block;clear:both;content:''}
.order_summary .btn_area .btn_order {float:left;display:inline-block;width:50%;height:110px;line-height:110px;background:#c2272d;text-align:center;color:#fff;font-size:26px}
.order_summary .btn_area .btn_order span {padding:10px 0 10px 40px;background:url('../images/btn_order.png') no-repeat left center}
.order_summary .btn_area .btn_order.ing {background:#c1c1c1}
.order_summary .btn_area .btn_order.ing span {padding:10px 0 10px 48px;background:url('../images/btn_order_ing.png') no-repeat left center}
.order_summary .btn_area .btn_start {float:left;display:inline-block;width:50%;height:110px;line-height:110px;background:#c1c1c1;text-align:center;color:#e0e0e0;font-size:26px}
.order_summary .btn_area .btn_start span {padding:10px 0 10px 44px;background:url('../images/btn_start.png') no-repeat left center}
.order_summary .btn_area .btn_start.start {color:#fff;background:#c2272d}
.order_summary .btn_area .btn_start.start span {background:url('../images/btn_start_start.png') no-repeat left center}
.order_summary .btn_area .btn_start.complete {color:#fff;background:#c1c1c1}
.order_summary .btn_area .btn_start.complete span {background:url('../images/btn_start_start.png') no-repeat left center}









